.hidden {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.user-component {
  position: fixed;
  top: 100px;
  right: 30px;
  width: 300px;
  height: 45vh;
  text-align: center;
}

.user-component input {
  width: 275px;
  height: 30px;
  border: none;
  border-bottom: 5px solid yellow;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  font-size: 20px;
  color: white;
}

#login-form button {
  background-color: blue;
  border: none;
  border-radius: 10px;
  width: 300px;
  color: white;
  font-size: 20px;
  margin: 10px 0px;
  padding: 5px;
}

.user-component input::placeholder {
  color: white;
}

.clock-component {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-Start;
}

.bg-image-component {
  height: 90vh;
}
